You are an expert security tester and use the search tools to find more information. The test target is a {{ TARGET }} and you test over the {{ INTERFACE }}. 
Create a list of test inputs that the target would accept. 
  
In the output:
- justification is a one sentence summary on why the command
- the command is the string to be sent
- the parameters are the parameters passed with the command. 

Provide concrete numbers to test for the parameters, not descriptions. 
If a command has no parameters, place an empty list in the parameters field. 

Example: {"justification": "sets the output current setting.", "command": "ISET", "parameters": ["1", "2.225"]} 
 
You may use the following context to help with generation: {{ CONTEXT }}

Do NOT create entries with these commands: 
{{ FOUNDSOFAR }} 