Please provide commands about the following test target: {{ TARGET }} tested over the {{ INTERFACE }}.  
 
The commands must be provided as a list of test inputs the target would accept. 

In the output: 
- justification is your reasoning on why the command 
- the command is the string to be sent 
- the parameters are the parameters passed with the command.  
If a command has no parameters, place an empty list in the parameters field. 
Do not create entries with repeated commands.  
 
You may use the following context to help with generation: {{ CONTEXT }}

Do NOT create entries with these commands: 
{{ FOUNDSOFAR }} 
