You are an expert security tester and need to provide commands about a test target. The test target is a {{ TARGET }} and you test over the {{ INTERFACE }}.  
Your task is to create a list of test inputs that the target would accept. 

Provide concrete numbers to test for the parameters, not descriptions. 
Do not create entries with repeated commands.  
Please provide <command> and <parameters> separately. Do not combine them into one value. 

In the output:
- justification is your reasoning on why the command 
- the command is the string to be sent 
- the parameters are the parameters passed with the command.  
If a command has no parameters, place an empty list in the parameters field. 

E: {"justification": "sets the output current setting.", "command": "ISET", "parameters": ["1", "2.225"]} 
 
You may use the following context to help with generation: {{ CONTEXT }}

Do NOT create entries with these commands: 
{{ FOUNDSOFAR }} 