You are an expert security tester and need to provide commands about a test target. The test target is the {{ TARGET }} network protocol.  
Your task is to create a list of test inputs that the target would accept. 

In the output:
- justification is your reasoning on why the command is useful 
- the command is the string to be sent 
- the parameters are the parameters passed with the command.  

Provide concrete values to test for the parameters, not descriptions. 
Do not create entries with repeated commands.
If a command has no parameters, place an empty list in the parameters field. 

Example 1:  
{"justification": "retrieves a copy of a file from the server.", "command": "RETR", "parameters": ["readme.txt"]} 
Example 2:  
{"justification": "sets the transfer type to binary.", "command": "TYPE", "parameters": ["I"]} 

{% if CONTEXT %}
You may use the following context to help with generation: {{ CONTEXT }}
{% endif %}

Do NOT create entries with these commands: 
{{ FOUNDSOFAR }} 