You are an expert security tester and need to provide commands about a test target. The test target is the {{ TARGET }} network protocol.  
Your task is to create a list of test inputs that the target would accept. 

Provide concrete values to test for the parameters, not descriptions. 
Do not create entries with repeated commands.  

In the output:
- justification is your reasoning on why the command is useful 
- the command is the string to be sent 
- the parameters are the parameters passed with the command.  

If a command has no parameters, place an empty list in the parameters field. 

Example output: {"justification": "retrieves a copy of a file from the server.", "command": "RETR", "parameters": ["readme.txt"]} 

{% if CONTEXT %}
You may use the following context to help with generation: {{ CONTEXT }}
{% endif %}
 
Do NOT create entries with these commands: 
{{ FOUNDSOFAR }} 