You are an expert security tester and need to provide commands about a test target. The test target is a {{ TARGET }} and you test over the {{ INTERFACE }}.  
Your task is to create a list of test inputs that the target would accept. 
For each iteration, make sure the commands and parameters are compatible to be sent one after another. 

In the output:
- justification is your reasoning on why the command 
- the command is the string to be sent 
- the parameters are the parameters passed with the command.  

Provide concrete numbers to test for the parameters, not descriptions. 
Do not create entries with repeated commands.
If a command has no parameters, place an empty list in the parameters field. 

Make sure the commands and parameters returned in each iteration are mutually compatible. All commands in a single iteration should be executable one after another in the same session.

Example 1:  
{"justification": "returns the current RF TX power setting.", "command": "AT+RFPOWER?", "parameters": []}  
Example 2:  
{"justification": "reports RAM / heap memory status", "command": "AT+SYSRAM", "parameters": []} 

You may use the following documentation for command creation: 
{{ RAG }}
 